<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Returned List</title>
    <link rel="shortcut icon" href="../assets/images/logo/sspl_favicon.png" type="image/png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/admin.css">
    <link rel="stylesheet" href="static/css/responsive.css">

    <style>
      body { font-family: 'Noto sans', sans-serif; }
      .nav-item.show > a {
        background-color: #6861CE;
        color: #fff;
      }
      .nav-item > a.active {
        font-weight: 600;
      }
    </style>
</head>
<body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="white">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="inky">
            <a href="index.html" class="logo">
              <img src="../assets/images/logo/sspl_logo.png" alt="navbar brand" class="navbar-brand" height="44"/>
              <h4 style="color: white; padding: 6px 0 0 6px;"><strong>Sparrow Softech</strong></h4>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="index.html">
                  <i class="ri-home-3-line"></i>
                  <p>Home</p>
                </a>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#offices">
                  <i class="ri-government-line"></i>
                  <p>Offices</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="offices">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="office-list.html">
                        <span class="sub-item">Offices List</span>
                      </a>
                    </li>
                    <li>
                      <a href="office-add.html">
                        <span class="sub-item">Add New Office</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#categories">
                  <i class="ri-kanban-view-2"></i>
                  <p>Categories</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="categories">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="category-list.html">
                        <span class="sub-item">Category List</span>
                      </a>
                    </li>
                    <li>
                      <a href="category-add.html">
                        <span class="sub-item">Add New Category</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#items">
                  <i class="ri-box-1-line"></i>
                  <p>Items</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="items">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="item-list.html">
                        <span class="sub-item">Items List</span>
                      </a>
                    </li>
                    <li>
                      <a href="item-add.html">
                        <span class="sub-item">Add New Items</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#purchase">
                  <i class="ri-shopping-cart-line"></i>
                  <p>Purchase Entry</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="purchase">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="purchase-list.html">
                        <span class="sub-item">Purchase List</span>
                      </a>
                    </li>
                    <li>
                      <a href="purchase-add.html">
                        <span class="sub-item">Add New Purchase Entry</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#itemConsumption">
                  <i class="ri-hourglass-fill"></i>
                  <p>Item Consumption</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="itemConsumption">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="item-issue-employees-list.html">
                        <span class="sub-item">Issue To Employees</span>
                      </a>
                    </li>
                    <li>
                      <a href="item-issue-department-list.html">
                        <span class="sub-item">Issue To Department</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#defunctitems">
                  <i class="ri-delete-bin-2-line"></i>
                  <p>Damaged & Lost Items</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="defunctitems">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="item-adjustment-list.html">
                        <span class="sub-item">Adjustment List</span>
                      </a>
                    </li>
                    <li>
                      <a href="item-adjustment-add.html">
                        <span class="sub-item">Add Adjustment</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>              
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#transfers">
                  <i class="ri-share-box-line"></i>
                  <p>Transfer Items</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="transfers">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="item-transfer-list.html">
                        <span class="sub-item">Transfers List</span>
                      </a>
                    </li>
                    <li>
                      <a href="item-transfer-add.html">
                        <span class="sub-item">Add New Transfer</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#returned">
                  <i class="ri-arrow-left-down-box-line"></i>
                  <p>Returned Items</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="returned">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="item-returned-list.html">
                        <span class="sub-item">Returned List</span>
                      </a>
                    </li>
                    <li>
                      <a href="item-returned-add.html">
                        <span class="sub-item">Add Returned Item</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#users">
                  <i class="ri-user-line"></i>
                  <p>Users</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="users">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="my-profile.html">
                        <span class="sub-item">Profile</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#vendors">
                  <i class="ri-truck-line"></i>
                  <p>Vendors</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="vendors">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="supplier-list.html">
                        <span class="sub-item">Suppliers List</span>
                      </a>
                    </li>
                    <li>
                      <a href="supplier-add.html">
                        <span class="sub-item">Add New Supplier</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#reports">
                  <i class="ri-bar-chart-box-line"></i>
                  <p>Reports</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="reports">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="#">
                        <span class="sub-item">Inventory Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Transfer Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Purchase Report</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="sub-item">Office Wise Items</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="inky">
              <a href="index.html" class="logo">
                <img src="../assets/images/logo/sspl_logo.png" alt="navbar brand" class="navbar-brand" height="20"/>
                <h6 style="color: white; padding: 6px 0 0 8px;"><strong>Sparrow Softech</strong></h6>
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <nav
                class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-xl-flex"
              >

                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                      <i class="ri-search-line"></i>
                    </button>
                  </div>
                  <input type="text" placeholder="Search ..." class="form-control" />
                </div>
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none" >
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" aria-haspopup="true" >
                    <i class="ri-search-line"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input type="text" placeholder="Search ..." class="form-control" />
                      </div>
                    </form>
                  </ul>
                </li>
                <li class="nav-item topbar-icon dropdown hidden-caret">
                  <a class="nav-link" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="ri-gallery-view-2" style="font-size: 20px;"></i>
                  </a>
                  <div class="dropdown-menu quick-actions animated fadeIn">
                    <div class="quick-actions-header">
                      <span class="title mb-1">Applications</span>
                    </div>
                    <div class="quick-actions-scroll scrollbar-outer">
                      <div class="quick-actions-items">
                        <div class="row m-0">
                          <a class="col-6 col-md-4 col-sm-6 col-12 p-0" href="index.html">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-secondary rounded-circle">
                                <i class="ri-user-settings-line"></i>
                              </div>
                              <span class="text">HRMS Admin</span>
                            </div>
                          </a>
                          <a class="col-6 col-md-4 col-sm-6 col-12 p-0" href="#">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-info rounded-circle">
                                <i class="ri-user-community-line"></i>
                              </div>
                              <span class="text">HRMS User</span>
                            </div>
                          </a>
                          <a class="col-6 col-md-4 col-sm-6 col-12 p-0" href="#">
                            <div class="quick-actions-item">
                              <div class="avatar-item bg-success rounded-circle">
                                <i class="ri-box-3-line"></i>
                              </div>
                              <span class="text">Inventory System</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false" >
                    <div class="avatar-sm">
                      <img src="images/profile/user.png" alt="profile" class="avatar-img rounded-circle" />
                    </div>
                    <span class="profile-username">
                      <span class="op-7"></span>
                      <span class="fw-bold">Employee Name</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img src="images/profile/user.png" alt="image profile" class="avatar-img rounded" />
                          </div>
                          <div class="u-text">
                            <h4>Employee Name</h4>
                            <p class="text-muted">Employee designation</p>
                            <p class="text-muted">Employee id</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="my-profile.html">My Profile</a>
                        <a class="dropdown-item" href="change-password.html">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
                <li class="nav-item topbar-icon dropdown hidden-caret">
                  <a class="nav-link" href="#">
                    <i class="ri-logout-box-r-line" style="font-size: 20px;"></i>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>

        <div class="container">
          <div class="page-inner">
            <div class="page-header d-print-none">
              <h4 class="fw-bold mb-3">Returned List</h4>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="index.html">
                    <i class="ri-home-3-line"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="ri-arrow-right-s-line"></i>
                </li>
                <li class="nav-item">
                  <span class="op-7">Returned Items</span>
                </li>
                <li class="separator">
                  <i class="ri-arrow-right-s-line"></i>
                </li>
                <li class="nav-item">
                  <span class="op-7">Returned List</span>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header d-print-none text-center">
                    <a href="item-transfer-add.html"><button class="btn btn-primary btn-sm"><strong><i class="ri-add-line"></i> Add New</strong></button></a>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive" id="printableArea">
                      <table id="basic-datatables" class="display table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th colspan="9" class="text-center bg-light"><strong>Item Returned List</strong></th>
                          </tr>
                          <tr class="text-center">
                            <th>#</th>
                            <th>Returned ID</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>From Office</th>
                            <th>To Office</th>
                            <th>Reason</th>
                            <th>Added On</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-center">
                            <td>1</td>
                            <td class="text-center">456132</td>
                            <td class="text-center">Chair</td>
                            <td class="text-center">8</td>
                            <td class="text-center">Kota</td>
                            <td class="text-center">Jaipur</td>
                            <td class="text-center">Extra Unused Chairs</td>
                            <td class="text-center">31 March 2026</td>
                            <td class="text-center">
                              <a href="item-transfer-add.html"><button class="btn btn-success btn-xs mb-1">Edit</button></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
        </div>

        <!-- footer start -->
        <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <div class="copyright">
              <a href="#" target="_blank">Sparrow Softech Pvt Ltd</a>
            </div>
          </div>
        </footer>
        <!-- footer end -->
      </div>
    </div>

    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js" integrity="sha512-5AcaBUUUU/lxSEeEcruOIghqABnXF8TWqdIDXBZ2SNEtrTGvD408W/ShtKZf0JNjQUfOiRBJP+yHk6Ab2eFw3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="static/js/datatables/datatables.min.js"></script>
<script src="static/js/admin.js"></script>
<script>
  $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
          pageLength: 10,
          initComplete: function () {
            this.api()
              .columns()
              .every(function () {
                var column = this;
                var select = $(
                  '<select class="form-select"><option value=""></option></select>'
                )
                  .appendTo($(column.footer()).empty())
                  .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                      .search(val ? "^" + val + "$" : "", true, false)
                      .draw();
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append(
                      '<option value="' + d + '">' + d + "</option>"
                    );
                  });
              });
          },
        });

        // Add Row
        $("#add-row").DataTable({
          pageLength: 10,
        });

        var action =
          '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $("#addRowButton").click(function () {
          $("#add-row")
            .dataTable()
            .fnAddData([
              $("#addName").val(),
              $("#addPosition").val(),
              $("#addOffice").val(),
              action,
            ]);
          $("#addRowModal").modal("hide");
        });
      });
</script>
</body>
</html>